*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', 'roboto';
}

p{
    font-size: 1rem;
}

ul, a{
    text-decoration: none;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}